name: publish-npm

on:
  workflow_run:
    workflows: [build]
    types: [completed]

permissions:
  id-token: write # OIDC for npm Trusted Publishing

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup rust
        uses: dtolnay/rust-toolchain@9a1d20035bdbcbc899baabe1e402e85bc33639bc # 1.90

      - name: Build
        run: cargo install wasm-pack && wasm-pack build --release --target web --scope mdn

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          registry-url: "https://registry.npmjs.org/"
          node-version-file: ".nvmrc"
          package-manager-cache: false

      - name: Publish
        working-directory: ./pkg
        run: npm publish --access public --provenance
